p {
  text-align: center;
  font-family: Roboto;
}

h2 {
  color: black;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: Roboto;
}

a {
  tex.nav {
  margin: auto;
  text-align: center;
}

.nav {
  margin: auto;
  text-align: center;
}

body {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  }

.nav > div {
  background: #0099CC;
  float: left;
  padding: 10px;
  border: 4px #00FFFF;
  border-radius: 4px;
  text-align: center;
}

.nav > div:hover {  
  height: 120%;
  background: blue;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
